/*changes backgroud color of the body*/
body {

    background-image: url(../assets/bgimage.png);
    
    width: auto;
}

/*background cover style*/
.bg-cover {

 background: white center center;
}

/* added margin for container*/
.boxsize {
    margin-bottom: 90px;
}
